## Data Science Masters - Hindi - 24 Feb 2023

#### Q1. List any five functions of the pandas library with execution.

- Adding a row in the dataframe
    - df.append(row_data)
#
- Adding a column in the dataframe
    - df.insert(0, 'column_name', column_value)
#
- Dropping columns in the dataframe
    - df.drop('column_name', axis=1)
#
- Dropping rows in the dataframe
    - df.drop(index_no, axis=0)
#
- Renaming a column in the dataset
    - df.rename(columns={'old_name': 'new_name'})
#

In [38]:
import pandas as pd

data = (["Alice", 25, "female"], [
    "Bob", 30, "Female"],
    ["Claire", 27, "Female"])
df = pd.DataFrame(data, columns=["Name", "Age", "gender"])

# df.append()
new_row = [["Aditya", 22, "Male"]]
df2 = pd.DataFrame(new_row, columns=["Name", "Age", "gender"])
df_append = df.append(df2)
print("Original dataframe\n", df, "\n")
print("Dataframe after appending\n", df_append, "\n")

# df.insert()
df.insert(0, "Place", ["India", "London", "France"])
print("dataframe after inserting\n", df, "\n")

# df.drop(column)
df_drop_col = df.drop("Place", axis=1)
print("dataframe after dropping one column\n", df_drop_col, "\n")

# df.drop(row)
df_drop_row = df.drop(0, axis=0)
print("dataframe after dropping one row\n", df_drop_row, "\n")

# Renaming the column
df_rename = df.rename(columns={"Place": "Country"})
print("dataframe after renaming one column\n", df_rename, "\n")

Original dataframe
      Name  Age  gender
0   Alice   25  female
1     Bob   30  Female
2  Claire   27  Female

Dataframe after appending
      Name  Age  gender
0   Alice   25  female
1     Bob   30  Female
2  Claire   27  Female
0  Aditya   22    Male

dataframe after inserting
     Place    Name  Age  gender
0   India   Alice   25  female
1  London     Bob   30  Female
2  France  Claire   27  Female

dataframe after dropping one column
      Name  Age  gender
0   Alice   25  female
1     Bob   30  Female
2  Claire   27  Female

dataframe after dropping one row
     Place    Name  Age  gender
1  London     Bob   30  Female
2  France  Claire   27  Female

dataframe after renaming one column
   Country    Name  Age  gender
0   India   Alice   25  female
1  London     Bob   30  Female
2  France  Claire   27  Female

/tmp/ipykernel_23195/1805984760.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df.append(df2)

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [39]:
import pandas as pd

data = (
    ["Suman", "Bittu", "Chadan"],
    ["Shourya", "Sinjini", "Soham"],
    ["Saha", "Sudipta", "Ankit"],
    ["Aditya", "Sumit", "Azad"]
)

df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print("Dataframe before re-indexing\n",df,"\n")
df.index = [i for i in range(1, 2*len(df), 2)]
print("Dataframe after re-indexing\n",df,"\n")

Dataframe before re-indexing
          A        B       C
0    Suman    Bittu  Chadan
1  Shourya  Sinjini   Soham
2     Saha  Sudipta   Ankit
3   Aditya    Sumit    Azad

Dataframe after re-indexing
          A        B       C
1    Suman    Bittu  Chadan
3  Shourya  Sinjini   Soham
5     Saha  Sudipta   Ankit
7   Aditya    Sumit    Azad

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
#### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [40]:
data = (
    [10, 20, 30, 40, 50]
)

df = pd.DataFrame(data, columns=["Values"])

sum = 0
for i in range(3):
    sum += df[["Values"]].values[i]
print(int(sum))

60

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [41]:
data = (
    ["This is Aditya"],
    ["This is a data science course"],
    ["Pwskills"],
    ["Data Science is the fastest emerging field in the world."]
)

df = pd.DataFrame(data, columns=["Text"])
words = df["Text"].str.count(' ') + 1
df.insert(1, "Word_Count", words)
df

                                                Text  Word_Count
0                                     This is Aditya           3
1                      This is a data science course           6
2                                           Pwskills           1
3  Data Science is the fastest emerging field in ...          10

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

- df.size:
    - Returns to total number of elements in the dataframe/series.
    - returns rows x columns.
#
- df.shape:
    - Returns no of (Rows, columns) of dataframe/series.
#
- Let's understand with the following example

In [42]:
import pandas as pd

data = (
    ["Suman", "Bittu", "Chadan"],
    ["Shourya", "Sinjini", "Soham"],
    ["Saha", "Sudipta", "Ankit"],
    ["Aditya", "Sumit", "Azad"]
)

df = pd.DataFrame(data, columns=['A', 'B', 'C'])

print("The size is :",df.size)
print("The shape is :",df.shape)

The size is : 12
The shape is : (4, 3)

#### Q6. Which function of pandas do we use to read an excel file?

- we use "pandas.read_excel('file_name.xlsx', sheet_name='sheet_name')" function to read an excel file.

#### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
#### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [43]:
import pandas as pd

data = (
    ["adity01@gmail.com"],
    ["aditya02@gmail.com"],
    ["aditya03@gmail.com"],
    ["aditya04@gmail.com"],
    ["aditya05@gmail.com"]
)

df = pd.DataFrame(data, columns=["Email"])

words = df["Email"].str.split("@").str[0]
df.insert(1,"Username", words)
df

                Email  Username
0   adity01@gmail.com   adity01
1  aditya02@gmail.com  aditya02
2  aditya03@gmail.com  aditya03
3  aditya04@gmail.com  aditya04
4  aditya05@gmail.com  aditya05

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:
####     A   B   C
#### 0   3   5   1
#### 1   8   2   7
#### 2   6   9   4
#### 3   2   3   5
#### 4   9   1   2

#### Your function should select the following rows:
#### A   B   C 
#### 1   8   2   7
#### 2   6   9   4
#### 4   9   1   2
#### The function should return a new DataFrame that contains only the selected rows.

In [44]:
import pandas as pd

data = (
    [3, 5, 1],
    [8, 2, 7],
    [6, 9, 4],
    [2, 3, 5],
    [9, 1, 2],
)

df = pd.DataFrame(data, columns=["A", "B", "C"])

df_filtered = df.loc[(df["A"] > 5) & (df["B"] < 10)]
df_filtered

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [45]:
data = (
    [90, 10, 20, 30, 40, 50]
)

df = pd.DataFrame(data, columns=["Values"])
df_mean = df.mean()
df_med = df.median()
df_std = df.std()
print("The mean of the values is: %f" % df_mean)
print("The median of the values is: %f" % df_med)
print("The standard deviation of the values is: %f" % df_std)

The mean of the values is: 40.000000
The median of the values is: 35.000000
The standard deviation of the values is: 28.284271

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [46]:
import pandas as pd

product = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12'],
    'Sales': [290, 260, 288, 300, 310, 303, 329, 340, 316, 330, 308, 310]
}
df = pd.DataFrame(product)
df.head()
df['Moving Average'] = df.iloc[:, 1].rolling(window=7).mean()
df

          Date  Sales  Moving Average
0   2023-01-01    290             NaN
1   2023-01-02    260             NaN
2   2023-01-03    288             NaN
3   2023-01-04    300             NaN
4   2023-01-05    310             NaN
5   2023-01-06    303             NaN
6   2023-01-07    329      297.142857
7   2023-01-08    340      304.285714
8   2023-01-09    316      312.285714
9   2023-01-10    330      318.285714
10  2023-01-11    308      319.428571
11  2023-01-12    310      319.428571

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values:
####    Date
#### 0  2023-01-01
#### 1  2023-01-02
#### 2  2023-01-03
#### 3  2023-01-04 
#### 4  2023-01-05
#### Your function should create the following DataFrame:
####         Date           Weekday
#### 0       2023-01-01     Sunday
#### 1       2023-01-02     Monday
#### 2       2023-01-03     Tuesday
#### 3       2023-01-04     Wednesday
#### 4       2023-01-05     Thursday
#### The function should return the modified DataFrame.

In [47]:
import pandas as pd

data = (
    ["2023-01-01"],
    ["2023-01-02"],
    ["2023-01-03"],
    ["2023-01-04"],
    ["2023-01-05"],
)
df = pd.DataFrame(data, columns=["Date"])
df['Date'] = pd.to_datetime(df["Date"])
df['day_of_week'] = df["Date"].dt.day_name()
df

        Date day_of_week
0 2023-01-01      Sunday
1 2023-01-02      Monday
2 2023-01-03     Tuesday
3 2023-01-04   Wednesday
4 2023-01-05    Thursday

#### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'

In [48]:
df = pd.DataFrame({'Dates': ['2023-01-01', '2023-01-08',
                  '2023-01-04', '2023-01-31', '2023-02-05', '2023-01-15']})
df_con = (df['Dates'] > '2023-01-01') & (df['Dates'] < '2023-01-31')
print(df.loc[df_con])

        Dates
1  2023-01-08
2  2023-01-04
5  2023-01-15

#### 13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

- To use the basic pandas functions we need to import pandas libary with the following syntax:
    - import pandas as pd
#
- Pandas is built on top of two core Python librariesâ€”matplotlib for data visualization and NumPy for mathematical operations. Pandas acts as a wrapper over these libraries, allowing you to access many of matplotlib's and NumPy's methods with less code.